* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    background-color: rgb(26, 21, 21);
    background-image: url("../background.png");
    background-size: cover;
    color: #fff;
}

.App {
    width: 90vw;
    margin: 0 auto;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav"